<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="container-fluid">
    <h2 th:text="'Hello ' + ${#httpServletRequest.remoteUser} + ' !'">Login as</h2>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Tambah User Baru
                </div>
                <div class="card-body">
                    <form th:action="@{/user/addUser}" method="post">
                        <div class="row form-group">
                            <label class="col-sm-4"> User Name</label>
                            <input class="col-sm-8 form-control input-sm" type="text" name="username"/>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4"> Password: </label>
                            <input id="password" class="col-sm-8 form-control input-sm" type="password" name="password"/>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4"> Role: </label>
                            <input class="col-sm-8 form-control input-sm" type="text" name="role"/>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary">Simpan</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Update Password
                </div>
                <div class="card-body">
                    <div th:if="${message != null}">
                        <span id="error" style="color: red" th:text="${message}"></span>
                    </div>
                    <form th:action="@{/user/updatePassword}" method="post">
                        <div class="row form-group">
                            <label class="col-sm-4"> Password Lama</label>
                            <input id="oldpass" class="col-sm-8 form-control input-sm" type="text" name="old-password"/>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4"> Password Baru: </label>
                            <input class="col-sm-8 form-control input-sm" type="password"
                                   name="new-password"/>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4"> Konfirmasi Password Baru: </label>
                            <input onchange="matchPass(this.value)" id="passConfirm" class="col-sm-8 form-control input-sm" type="password"
                                   name="confirm-new-password"/>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary"> Simpan</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Tambah Pilot
                </div>
                <div class="card-body">
                    <p class="card-text">Fitur untuk menambah pilot.</p>
                    <a class="btn btn-primary" th:href="@{/pilot/add}">Tambah</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Cari Pilot berdasarkan Nomor Lisensi
                </div>
                <form th:action="@{/pilot/view}" method="GET">
                    <div class="card-body">
                        <label for="licenseNumber">License Number:</label>
                        <input type="text" id="licenseNumber" name="licenseNumber" class="form-control"/>
                        <button type="submit" class="btn btn-primary">Cari</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function () {
    options = {
        common: {minChar:8},
        ui: {
            showVerdictsInsideProgressBar:true,
            showErrors:true,
            errorMessages:{
                wordLength: '<spring:message code="error.wordLength"/>',
                wordSequences: '<spring:message code="error.wordSequences"/>',
                wordOneNumber: '<spring:message code="error.wordOneNumber"/>'
            }
        }
    };
});
</script>

</body>

</html>